/* Custom responsive utility additions */
img, embed, object, video {
    max-width: 100% !important;
    height: auto !important;
}
iframe {
    max-width: 100% !important;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .navbar-custom .navbar-brand {
        padding: 15px;
    }
    header.intro-header .site-heading h1, 
    header.intro-header .post-heading h1 {
        font-size: 32px !important;
    }
    header.intro-header .site-heading .subheading, 
    header.intro-header .post-heading .subheading {
        font-size: 16px !important;
    }
}