/* Others */
.card-text {
    width: 90% !important;
    margin: auto;
    font-size:14px;
}
.about {
    min-height:420px;
    background-color: #fff;
}
.objabout{
    content: "";
    width: 250px;
    height: 85px;
    background-color: rgb(119, 162, 190);
    margin: 15px 20px 20px;
    position: relative;
}

.objabout h4 {
    color: white;
    text-align: right;
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 20px;
    position: absolute;
    margin-left: 25px;
    line-height: 0.6;
    letter-spacing: -2px;
}

.media-body{
    padding:10px;
}

/* Navbar */
.nav-link:hover::after {
    content:"";
    display:block;
    border-bottom:3px solid #ddd;
    width: 50%;
    margin:auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

/* Jumbotron */
.jumbotron {
    background:transparent;
    min-height: 500px;
    background-size: contain;
     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: top center;
     background-repeat: no-repeat;
    padding-top:100px;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 1px black;
}

.jumbotron .container{
    margin-top:40px
}
.jumbotron .display-4 {
    width: 40%;
    color:white;
    font-weight:500;
}

.jumbotron .lead {
    width: 40%;
    color: white !important;
    margin-top: 20px;
}
.jumbotron::after {
    position: absolute;
    z-index: -1;
    content:"";
    display:block;
    height:100%;
    width: 100%;
    background:rgba(52, 58, 64, 0.4);
    bottom: 0;
}

.containerr{
    width: 100%;
    background-color: rgb(241, 177, 38);
    margin-bottom: 10px;
    border-radius: 10px;
    height:2px;
   } 
   .cardd{
    width: 100%;
    margin-top: -10px;
    margin-left: -10px;
   }
   .skill-bar{
    text-align: left;
    padding: 10px;
    font-size: 12px;
   }
   .skill{
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
   }
   .html{height:3px;width: 80%;background-color: rgba(52, 58, 64, 1)}
   .css{height:3px;width: 70%;background-color: rgba(52, 58, 64, 1)}
   .js{height:3px;width: 50%;background-color: rgba(52, 58, 64, 1)}
   .php{height:3px;width: 40%;background-color: rgba(52, 58, 64, 1)}
   .mysql{height:3px;width: 20%;background-color: rgba(52, 58, 64, 1)}

   /* kontak */
   .kontakform{
       padding-top:  100px;
       padding-bottom: 120px;
   }
  
